@model QuizApp.ViewModel.Managing.TestingUrlViewModel

@{
    ViewBag.Title = "Quiz";
}

@Styles.Render("~/Content/TestManagment.css")

<h1>Test Name - @Model.TestName</h1>
<h2>Interviewee - @Model.Interviewee</h2>

<button type="button" class="btn btn-primary" id="startTest">Start Test</button>

<div class="testBlock">
    
    @using (Html.BeginForm("FinishTest", "Quiz", FormMethod.Post, new { id = "finishQuizForm" }))
    {
        <input type="hidden" name="TestingGuid" value = @Model.Guid />
        <input type="hidden" name="Interviewee" value = @Model.Interviewee />
        <input type="hidden" name="QuestionTried" value = @Model.NumberOfRuns />
        <input type="hidden" name="TestingStartDateTime" />
        <input type="hidden" name="TestingEndDateTime" />

        <div id="questions" class="list-group" guid="@Model.Guid">

        </div>
        <button type="button" class="btn btn-primary" id="nextQuestion">Next</button>
        <button type="submit" class="btn btn-primary" id="finishQuiz">Finish</button>
    }

    
</div>
@section scripts {

    <script src="~/Scripts/Site/Quiz.js"></script>

}