@model List<QuizApp.ViewModel.Managing.TestingUrlViewModel>

@{
    ViewBag.Title = "TestingUrlManagement";
}

@Styles.Render("~/Content/TestManagment.css")

<table class="table">
    <thead>
        <tr>
            <th>TestName</th>
            <th>UrlInstance</th>
            <th>AllowedStartDate</th>
            <th>AllowedEndDate</th>
            <th>Interviewee</th>
            <th>NumberOfRuns</th>
            <th>Path</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var testingUrl in Model)
        {
            <tr>
                <th>@testingUrl.TestName </th>
                <th>@testingUrl.UrlInstance </th>
                <th>@testingUrl.AllowedStartDate </th>
                <th>@testingUrl.AllowedEndDate </th>
                <th>@testingUrl.Interviewee </th>
                <th>@testingUrl.NumberOfRuns </th>
                <th>/Test/@testingUrl.Guid </th>
                <th>
                    @using (Html.BeginForm("RemoveTestingUrl", "Apilike", new { testingUrlGuid = @testingUrl.Guid}))
                    {
                        <input type="submit" value="Delete" class="questionButton btn btn-danger btnDelete" guid=testingUrl.Guid/>
                    }
                </th>

            </tr>
        }
    </tbody>
    
</table>

@section Scripts
{
    <script type="text/javascript">
        
    </script>
}