@using QuizApp.ViewModel.Managing
@model List<QuizApp.ViewModel.Managing.TestViewModel>

@{
    ViewBag.Title = "TestManagement";
}

@Styles.Render("~/Content/TestManagment.css")

@using (Html.BeginForm("CreateTest", "Admin"))
{
    <button type="submit" class="btn btn-primary" id="addTest">Add new test</button>
}  

<div class="allTests list-group">
    @foreach (var test in Model)
    {
        <div class="singleTest list-group-item" id=@test.Guid>
            <div class="testButtons">
                @using (Html.BeginForm("CreateQuestion", "Admin", new {testGuid = @test.Guid}))
                {
                    <button type="submit" class="btn btn-primary" id="addQuestion">Add question</button>
                }
                @using (Html.BeginForm("CreateURL", "Admin", new { testGuid = @test.Guid }))
                {
                    <button type="submit" class="btn btn-primary" id="createURL">Create URL</button>
                }

                @using (Html.BeginForm("RemoveTest", "Apilike", new {testGuid = @test.Guid}))
                {
                    <button type="submit" class="btn btn-danger" id="removeTest">Remove Test</button>
                }
            </div>
            
            <h1 class="testName">@test.Name</h1>
            <p class="description">@test.Description</p>
            <h4 class="testTimeLimit">Test time limit: @test.TestTimeLimit</h4>
            <h4 class="questionTimeLimit">Question time limit: @test.QuestionTimeLimit</h4>
            <div id="questions" class="list-group">
                @foreach (var question in @test.Questions)
                {
                    <div class="singleQuestion">
                        <div class="questionInfo list-group-item">
                            <span>@question.Instance</span>
                            <div class="btnParent">
                                @using (Html.BeginForm("AddAnswer", "Admin", new {questionGuid = @question.Guid}))
                                {
                                    <input type="submit" value="Add Answer" class="questionButton btnAddAnswer" guid=@question.Guid/>
                                }
                                @using (Html.BeginForm("EditQuestion", "Admin", new {questionGuid = @question.Guid}))
                                {
                                    <input type="submit" value="Edit" class="questionButton btnEdit" guid=@question.Guid/>
                                }
                                @using (Html.BeginForm("RemoveQuestion", "Apilike", new {questionGuid = @question.Guid}))
                                {
                                    <input type="submit" value="Delete" class="questionButton btnDelete" guid=@question.Guid/>
                                }
                            </div>
                        </div>
                        <div class="answers">
                            @foreach (var answer in @question.Answers)
                            {
                                <div class="singleAnswer">
                                    <div class="answerInfo list-group-item @(@answer.IsCorrect ? "correctAnswer" : "")">
                                        <span>@answer.Instance</span>
                                        <div class="btnParent">
                                            @using (Html.BeginForm("EditAnswer", "Admin", new {questionGuid = @question.Guid, answerGuid = @answer.Guid}))
                                            {
                                                <input type="submit" value="Edit" class="questionButton btnEdit" guid=@question.Guid/>
                                            }
                                            @using (Html.BeginForm("RemoveAnswer", "Apilike", new {answerGuid = @answer.Guid}))
                                            {
                                                <input type="submit" value="Delete" class="questionButton btnDelete" guid=@answer.Guid/>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        
    </script>
}